<!DOCTYPE html>
<html>
<head>
    <title>Captcha Verification</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Enter Captcha</h1>
    <p>Case: {{ case_type }} {{ case_number }}/{{ case_year }}</p>
    <img src="{{ url_for('static', filename='captcha.png') }}" alt="Captcha"><br><br>
    <form id ="searchForm" method="POST" action="{{ url_for('submit_captcha') }}">
        <input type="text" name="captcha" placeholder="Enter Captcha" required>
        <button type="submit">Submit</button>
    </form>
    <div id="loader">
        <div class="spinner"></div>
        <p>Fetching case details, please wait...</p>
    </div>
    <script>
        const form = document.getElementById("searchForm");
        const loader = document.getElementById("loader");

        form.addEventListener("submit", function() {
            loader.style.display = "block"; // Show loader
        });
    </script>
</body>
</html>
